@{
    ViewBag.Title = "Shuffle";
}

<div class="jumbotron">
   <center>FAQ</center>
    <center>The objective is to shuffle a deck of cards and match a previous shuffle from card one to fifty-two.</center>
    
</div>

