@{
    ViewBag.Title = "Shuffle";
}

<center>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1><font color="white">Shuffle</font></h1>

    @using (Html.BeginForm("Create", "Deck", FormMethod.Post))
    {   @Html.AntiForgeryToken()
        <button type="input" class="btn btn-default btn-lg"><font color="black">♠</font> <font color="red"> ♥</font> <font color="green"> ♣</font> <font color="blue">♦</font>  </button>
    }
    @if (ViewData["Deck"] != null)
    {
        foreach (var item in (string[])ViewData["Deck"])
        {
            string name = "/Images/" + item.ToString() + ".png/";
            <div style="text-align:center; margin:0 auto;">
                <img style="max-width:20px; width:100%;" src=@name alt="eSports Fantasy Baseball" />
            </div>
        }
    }

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</center>
