@{
    ViewBag.Title = "Shuffle";
}

<center>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1><font color="white">Shuffle</font></h1>

    <p><a href="http://Google.com" class="btn btn-default btn-lg"><font color="black">♠</font> <font color="red"> ♥</font> <font color="green"> ♣</font> <font color="blue">♦</font>  </a></p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</center>

